version: '3.1'
services:
  wukongim:  # 唐僧叨叨通讯服务（悟空IM）
    image: registry.cn-shanghai.aliyuncs.com/wukongim/wukongim:v2
    restart: always
    ports:
      # - "5001:5001" # http api端口（业务端调用，仅限内网开放）
      - "5100:5100"  # tcp长连接端口（外网开放）
      - "5200:5200" # websocket端口（外网开放）
      - "5300:5300" # 监控端口
    volumes:
      - ./wukongim:/root/wukongim
      - ./nginx:/root/nginx
    env_file:
      - .env
    environment:
      - WK_EXTERNAL_IP=${EXTERNAL_IP}
      # - WK_EXTERNAL_WSSADDR=${WK_EXTERNAL_WSSADDR}