version: '3.1'
services:
  redis:  # redis
    image: registry.cn-shanghai.aliyuncs.com/wukongim/redis:7.2.3
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
